<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Registration</title>
</head>
<body>
<div class="form_contain">
  <p>x</p>
  <h4>Already have accaunt ? <span>Login</span></h4>
  <h1>Registration</h1>
  <div class="form">
      <form action="">
          <label for="name">
              Add your name*
              <input type="text" id="name" placeholder="Name">
          </label>
          <label for="number">
              Add your number*
              <input type="text" id="number" placeholder="+998">
          </label>
          <label for="password">
              Add password*
              <input type="password" id="password" placeholder="****">
          </label>
          <button>Sign up</button>
      </form>
  </div>
</div>
<hr>
<a href="/read"><h2>Read news</h2></a>
<hr>
<a href="/info"><h2>Information about this site</h2></a>
<hr>
<a href="/"><h2>Main</h2></a>
<hr>
<a href="/news"><h2>News</h2></a>
</body>
</html>